
.picsum-img-wrapper{
    display: flex;
    justify-content: center;
}

.product-items{
  display: grid;
  place-items: center;
  box-shadow: 0px 0px 7px 3px rgb(0 0 0 / 44%);
  border-radius: 6px;
  padding:24px 18px;
}
.product_card-images{
  width: 200px;
  height: 270px;
}


.flexible{
  display: flex;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
  flex-wrap: wrap;
  margin: 50px 0;
}
.cards{
  width: 30%;
}
.container{
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}